<!doctype html>
<html>
<head>
  <title>CWDG Projects Organizer</title>
  <script src="angular.min.js"></script>
  <script src="projects.js"></script>
</head>
<body ng-app="Projects">
<div ng-controller="ProjectsController">
  <h1>CWDG Projects Organizer</h1>
  <h2>Active Projects - {{numActiveProjects()}}</h2>
  <ul>
    <li ng-repeat="project in activeProjects()">
      <b>{{ project.title }}</b><br/>
      {{project.description}}
    </li>
  </ul>
  <h2>Pending Projects - {{numInactiveProjects()}}</h2>
  <ul>
    <li ng-repeat="project in inactiveProjects()">
      <b>{{project.title}}</b>
      <button ng-click="project.approved = true">Approve</button><br />
      {{project.description}}
    </li>
  </ul>
  <form ng-submit="addProject()">
    <input type="text" ng-model="projectTitle" /><br/>
    <textarea ng-model="projectDescription"></textarea><br />
    <input type="submit" value="add" />
  </form>
</div>
</body>
</html>
